/*GLOBALS*/
.input-field a {
    position: static;
}
p{
  word-wrap: break-word;
}
/* label color */
.input-field label {
    color: #404345;
}
/* label focus color */
.input-field input[type=text]:focus + label, .input-field textarea[type=text]:focus + label {
    color: #1e88e5;
}
/* label underline focus color */
.input-field input[type=text], .input-field input[type=text]:focus {
    border-bottom: 1px solid #1e88e5;
    box-shadow: 0 1px 0 0 #1e88e5;
}
/* valid color */
.input-field input[type=text].valid, .input-field textarea[type=text]:valid {
    border-bottom: 1px solid #1e88e5;
    box-shadow: 0 1px 0 0 #1e88e5;
}
/* invalid color */
.input-field input[type=text].invalid, .input-field textarea[type=text]:invalid {
    border-bottom: 1px solid #1e88e5;
    box-shadow: 0 1px 0 0 #1e88e5;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #1e88e5;
}

/*CONTENT*/
#content{
  padding-top: 85px;
  padding-bottom: 100px;
  height: 100vh;
}

/*NAVBAR*/
.navbar{
  position: fixed;
  height: 85px;
  background-color: #365899;
  display: table;
  text-align: center;
  width: 100%;
  line-height: 75px;
  color: white;
}
.navbar h1{
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}
.navbar a{
  color: white;
}
.navbar h3{
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  float: left;
  padding: 15px 0 0 30px;
}
.logins{
  font-size: 30px;
  float: right;
  display: inline-block;
}


/*FOOTER*/
footer{
  position: fixed;
  bottom: 0;
  background-color: #365899;
  width: 100%;
  color: white;
  text-align: center;
}
.footer-item{
  list-style-type: none;
  display: inline-block;
  padding-right: 200px;
  font-size: 1.2em;
}
footer ul:nth-child(3){
  padding-right: 0;
}
footer ul a{
  color: white;
}
