<div class="row">
    <div class="col s6">
        <img class="initial-logo" src="/../lib/img/devmountain-logo.png" alt="devmountain-logo" />
    </div>
    <div class="col s6">
        <form class="register" action="#/landing">
            <h2>Welcome to
                <b>DevBook</b>
            </h2>
            <p>Register, its free!</p>
            <br />
            <div class="input-field">
                <input id="full-name" type="text" class="validate">
                <label for="full-name">Full Name</label>
            </div>

            <div class="input-field">
                <input id="tagline" type="text" class="validate">
                <label for="tagline">Tagline</label>
            </div>

            <div class="input-field">
                <input id="profile-url" type="text" class="validate">
                <label for="profile-url">Profile Image Url</label>
            </div>

            <div class="input-field">
                <textarea id="textarea-bio" type="text" class="materialize-textarea"></textarea>
                <label for="textarea-bio">Bio</label>
            </div>

            <div class="input-field">
                <a class="waves-effect waves-light btn blue darken-1">Save</a>
            </div>

        </form>
    </div>

</div>
